<ul>
    <!-- http://localhost:4200/home -->
    <li><a routerLink="home" routerLinkActive="active-link">Accueil</a></li>

    <!-- http://localhost:4200/demos -->
    <li><a routerLink="demos" routerLinkActive="active-link">Démonstrations</a></li>
    <ul>
        <li><a routerLink="demos/custom-pipes" routerLinkActive="active-link">Custom Pipes</a></li>
        <li><a routerLink="demos/custom-directives" routerLinkActive="active-link">Custom Directives</a></li>
    </ul>

    <li><a routerLink="exos" routerLinkActive="active-link">Exercices</a></li>
    <ul>
        <!-- http://localhost:4200/exos/todolist -->
        <li><a routerLink="exos/todolist" routerLinkActive="active-link">Todo List</a></li>
    </ul>
</ul>