<h3>Démonstration - Custom Directives</h3>

<p [appHighlight]="defaultSize" defaultColor="orange" defaultMaxSize="23px">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ad ipsum libero nostrum sed quae laborum asperiores quidem, et rerum expedita cupiditate dolorem maxime? Deleniti odit vel qui vero repellendus?
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, iusto totam. Enim soluta id esse veniam, eum et laudantium fugiat veritatis expedita quasi voluptate laborum. Incidunt voluptatem doloribus vero laudantium!
</p>
